* {
	margin: 0;
	padding: 0;
}


input[id*="answer"] {
	display: none;
}

input[id*="answer"] + label {
	font-size: 1.5em;
	display: flex;
	line-height: 4em;
	justify-content: space-between;
	position: relative;
	border-bottom: 1px solid #d5d5d5;
	cursor: pointer;
}

input[id*="answer"] + label i {
	position: absolute;
	top: 50%;
	right: 0;
	transform : translateY(-50%);
	transition: all .3s;
}

input[id*="answer"] + label + div {
	overflow: hidden;
	height: 0;
	display: flex;
	align-items: center;
	transition: all .3s;
}

input[id*="answer"] + label + div p {
		display: inline-block;
		padding: 20px 0;
}
	
input[id*="answer"]:checked + label + div {
	height: 150px;
	border-bottom: 2px solid #d5d5d5;
}

input[id*="answer"]:checked + label i {
		transform: rotate(180deg);
}