.reviewImage {
	width: 80px; 
	height: 80px; 
	border: 1px solid #CCCCCC;
}
.imageDiv{
	width: 10%;
}
.titleDiv{
	width: 50%;
}
.dateDiv{
	width: 20%;
}
.btnDiv{
	width: 20%;
}
.modBtn {
	width: 100px;
}